@tailwind base;
@tailwind components;
@tailwind utilities;

/* Empêche le rebond moche mais garde le pull-to-refresh */
html, body {
  overscroll-behavior-y: contain; 
  background-color: black;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Force la fluidité iOS */
}

/* Style de la scrollbar pour rester dans le design sombre */
::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
}