@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force le pull-to-refresh en mode PWA sur Android et iOS */
html, body {
  overscroll-behavior-y: contain; /* Empêche le rebond moche mais autorise le refresh système */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Défilement fluide iOS */
}

body {
  background: black;
  color: white;
}

/* Optionnel : cacher la barre de scroll pour un look plus "App" */
::-webkit-scrollbar {
  display: none;
}