@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior-y: auto !important; /* Force le refresh natif */
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

button:active, a:active {
  transform: scale(0.96);
}

::-webkit-scrollbar {
  display: none;
}